.conteact_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.contact_detail {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    font-size: 14px;
}

@media only screen and (max-width: 450px) {
    .conteact_footer {
        flex-direction: column;
    }
}