@keyframes slideUp {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes blur {
    0% {
        backdrop-filter: blur(0px);
    }

    100% {
        backdrop-filter: blur(5px);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up-text {
    animation: fadeUp 1s ease-in-out;
    transition: 0.5s;
}
.fade-up-text a {
    animation: fadeUp 1.2s ease-in-out;
    transition: 0.5s;
}

.contact_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48vw;
}
.contact_main h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 540;
    letter-spacing: -0.2px;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: none;
}

.contact_main a {
    color: gray;
    font-size: 72px;
    width: 100%;
    margin-top: 25px;
    font-weight: 530;
}

.contact_main a:hover {
    color: rgb(196, 196, 196);
}

@media only screen and (max-width: 1050px) {
    .contact_main h1{
        font-size: 48px;
    }
    .contact_main a{
        font-size: 48px;
    }
    .contact_main{
        height: 132vw;
    }
}

@media only screen and (max-width: 450px) {
    .contact_main h1{
        font-size: 36px;
    }
    .contact_main a{
        font-size: 36px;
    }
    .contact_main{
        height: 150vw;
    }
}